{% extends 'base.twig' %}

{% block title %}Upload photo to your ad{% endblock %}

{% block content %}
    <h1 class="text-center">
        Upload file
    </h1>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    <div>
        <form action="{{ url('/photos/upload') }}" {{ form_enctype(form) }} method="post">
            {{ form_widget(form) }}
        </form>
    </div>
    <a href="{{ url('/ads/view', {'id': id}) }}" title="View ad" class="label label-primary text-uppercase">Back to ad</a>
{% endblock %}
