{% extends 'base.twig' %}

{% block title %}Categories{% endblock %}

{% block content %}
    
    <h1 class="text-center">
        {{ 'Categories list' |trans }}
    </h1>
    
    {% if is_granted('ROLE_ADMIN') %}
        <h4>
            <a href="{{ url('/categories/add') }}" title="Add category" class="label label-primary text-uppercase">
                {{ 'Add category' |trans }}
            </a>
        </h4>
    {% endif %}
    
    <div>
        {%  if categories|length > 0 %}
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'Name' |trans }}</th>
                        <th>{{ 'Description' |trans }}</th>
                        <th>{{ 'Actions' |trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for cat in categories %}
                    <tr>
                        <td>{{ cat.name|e }}</td>
                        <td>{{ cat.description|e }}</td>
                        <td>
                            <a href="{{ url('/categories/view', {'id': cat.id}) }}" title="View category" class="btn btn-default btn-lg">{{ 'View details' |trans }}</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ url('/categories/edit', {'id': cat.id}) }}" title="Edit category" class="btn btn-default btn-lg">{{ 'Edit' |trans }}</a>
                                <a href="{{ url('/categories/delete', {'id': cat.id}) }}" title="Delete category" class="btn btn-default btn-lg">{{ 'Delete' |trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                {{ 'Categories not found.' |trans }}
            </p>
        {% endif %}
        <div  class="pages">
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <a href="{{ url('/categories/', {'page': previous}) }}" title="{{ 'previous page' }}"><img src="{{ app.request.basepath }}/media/arrow.png"  height="15" width="50" alt="black arrow" style="transform:rotate(180deg);"></a>
            {%  endif %}

            {% if paginator.page < paginator.pagesCount %}
                {% set next = (paginator.page + 1) %}
                <a href="{{ url('/categories/', {'page': next}) }}" title="{{ 'next page' }}" class="pull-right"><img src="{{ app.request.basepath }}/media/arrow.png"  height="15" width="50" alt="black arrow"></a>
            {% endif  %}
        </div>
    </div>
{% endblock %}