{% extends 'base.twig' %}

{% block title %}Category{% endblock %}

{% block content %}
    
    <h1 class="text-center">
        Category details
    </h1>

    
    {%  if category|length > 0 %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ category.name|e }}</td>
                    <td>{{ category.description|e }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ url('/categories/edit', {'id': category.id}) }}" title="Edit category" class="btn btn-default btn-lg">Edit</a>
                        </td>
                        <td>
                            <a href="{{ url('/categories/delete', {'id': category.id}) }}" title="Delete category" class="btn btn-default btn-lg"  onclick="return confirm('Sure you want to delete this category? All ads from it will be moved to Pozostałe category.')">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        
        {%  if ads|length > 0 %}
            <h2> Ads in this category: </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Text</th>
                        <th>Date of post</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {%  if ads|length < 1 %}
                    <tr>
                        <td>{{ ads.title|e }}</td>
                        <td>{{ ads.text|e }}</td>
                        <td>{{ ads.postDate|e }}</td>
                        <td>
                            <a href="{{ url('/ads/view', {'id': ads.id}) }}" title="View ad" class="btn btn-default btn-lg">View details</a>
                        </td>
                    </tr>
                {% else %}
                    {% for ad in ads %}
                        <tr>
                            <td>{{ ad.title|e }}</td>
                            <td>{{ ad.text|e }}</td>
                            <td>{{ ad.postDate|e }}</td>
                            <td>
                                <a href="{{ url('/ads/view', {'id': ad.id}) }}" title="View ad" class="btn btn-default btn-lg">View details</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        {% else %}
            <p>
                Category does not have any ads.
            </p>
        {% endif %}
        <div>
        {% if paginator.page > 1 %}
            {% set previous = (paginator.page - 1) %}
            <a href="{{ url('/categories/view', {'page': previous, 'id':category.id}) }}" title="{{ 'previous page'|trans }}"><img src="{{ app.request.basepath }}/media/arrow.png"  height="15px" width="50px" style="transform:rotate(180deg);"></a>
        {%  endif %}

        {% if paginator.page < paginator.pagesCount %}
            {% set next = (paginator.page + 1) %}
            <a href="{{ url('/categories/view', {'page': next, 'id':category.id}) }}" title="{{ 'next page'|trans }}" class="pull-right"><img src="{{ app.request.basepath }}/media/arrow.png"  height="15px" width="50px"></a>
        {% endif  %}
    </div>
    
    {% else %}
        <p>
            Category not found.
        </p>
    {% endif %}
    <h4>
        <a href="{{ url('/categories/') }}" title="Categories index" class="label label-primary text-uppercase">Back to categories list</a>
    </h4>
{% endblock %}