{% extends 'errors/layout.twig' %}

{% block title %}Forbbiden{% endblock %}

{% block content %}

    <div class="error">
        {% for flashMessage in app.session.getFlashBag.get('message') %}
            <div class="alert alert-{{ flashMessage.type }}">
                {{ flashMessage.content }}
            </div>
        {% endfor %}

        <h1>{{ 'Forbbiden!' |trans }}</h1>
        <p>{{ 'Sorry, you do not have access to this page.' |trans }}</p>
        <p>{{ 'Wrong neighborhood - do not mess around!' |trans }}</p>
    </div>

    <p><a href="{{ url('/ads/') }}" title="Home">{{ 'Back to the homepage.' |trans }}</a></p>

{% endblock %}