{% extends 'errors/layout.twig' %}

{% block title %}Not found{% endblock %}
{% block content %}

    <div class="error">
        <h1> {{ 'Breathe deeply. Stay calm.' |trans }}</h1>
        <h3>{{ 'The page you are looking for was' |trans }} <strong>{{ 'not found' |trans }}</strong>. </h3>
        
        {% for flashMessage in app.session.getFlashBag.get('message') %}
            <div class="alert alert-{{ flashMessage.type }}">
                {{ flashMessage.content }}
            </div>
        {% endfor %}
    </div>
    <p><a href="{{ url('/ads/') }}" title="Home">{{ 'Back to the homepage.' |trans }}</a></p>

{% endblock %}