{% extends 'errors/layout.twig' %}

{% block title %}Error{% endblock %}

{% block content %}

    <div class="error">
        <h1> {{ 'Something went wrong' |trans }}</h1>
        <p>{{ 'Please try again' |trans }}</p>

        {% for flashMessage in app.session.getFlashBag.get('message') %}
            <div class="alert alert-{{ flashMessage.type }}">
                {{ flashMessage.content }}
            </div>
        {% endfor %}
    </div>
    
    <p><a href="{{ url('/ads/') }}" title="Home">{{ 'Back to the homepage.' |trans }}</a></p>

{% endblock %}