{% extends 'base.twig' %}

{% block title %}{{ 'Log in' }}{% endblock %}

{% block content %}
    <h1 class="text-center">
        {{ 'Login'|trans }}
    </h1>
    {{ error }}
    <div>
        <form action="{{ path('user_login_check') }}" method="post" class="login">
            {{ form_widget(form) }}
            <input type="submit" name="submit" value="{{ 'Login' }}" />
        </form>
    </div>
{% endblock %}
