{% extends 'base.twig' %}

{% block title %}Index users{% endblock %}

{% block content %}
    <h1 class="text-center">
        List of users
    </h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Role</th>
            <th>Publicated ads</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id|e }}</td>
                <td>{{ user.login|e }}</td>
                <td>{{ user.role|e }}</td>
                <td>
                    {% for ad in ads %}
                        {% if ad.login == user.login %}
                            {{ ad.count }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('/user/view', {'id': user.id}) }}" title="User's view" class="btn btn-default btn-lg">See user</a>
                        <a href="{{ url('/user/role', {'id': user.id}) }}" title="Change user's role" class="btn btn-default btn-lg">Change role</a>
                    {% else %}
                        <a href="{{ url('/user/account') }}" title="User's account" class="btn btn-default btn-lg">See account</a>
                        <a href="{{ url('/user/edit', {'id': user.id}) }}" title="Edit user" class="btn btn-default btn-lg">Edit</a>
                    {% endif %}
                    
                    <a href="{{ url('/user/delete', {'id': user.id}) }}" title="Delete user" onclick="return confirm('Sure you want to delete this user?')" class="btn btn-default btn-lg">Delete </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div>
        {% if paginator.page > 1 %}
            {% set previous = (paginator.page - 1) %}
            <a href="{{ url('/user/panel', {'page': previous}) }}" title="{{ 'previous page'|trans }}"><img src="{{ app.request.basepath }}/media/arrow.png"  height="15px" width="50px" style="transform:rotate(180deg);"></a>
        {%  endif %}

        {% if paginator.page < paginator.pagesCount %}
            {% set next = (paginator.page + 1) %}
            <a href="{{ url('/user/panel', {'page': next}) }}" title="{{ 'next page'|trans }}" class="pull-right"><img src="{{ app.request.basepath }}/media/arrow.png"  height="15px" width="50px"></a>
        {% endif  %}
    </div>

{% endblock %}