{% extends 'base.twig' %}

{% block title %}Edit user's phone number{% endblock %}

{% block content %}
    <h1 class="text-center">
        {{ 'Edit phone number' |trans }}
    </h1>
    
    <h3 class="not">
        <strong>{{ 'User' |trans }}</strong> {{ user.login }} <br/>
        {% if number != null %}
            <strong>{{ 'Phone number' |trans }}</strong><br/>
            {{ number }}
        {% endif %}
    </h3>
    
    <div class="smallest">
        <form action="" method="post">
            {{ form_widget(form) }}
        </form>
    </div>

    <h4>
        <a href="{{ url('/user/account') }}" title="Users account" class="label label-primary text-uppercase">{{ 'Back to account' |trans }}</a>
    </h4>
{% endblock %}