{% extends 'base.twig' %}

{% block title %}Change user's role{% endblock %}

{% block content %}
    <h1 class="text-center">
        Change user's role
    </h1>

    <h3 class="not">
        <strong>User: </strong> {{ user.login }} <br/>
        <strong> Role:</strong> {{ user.role }}
    </h3>
    <div class="smallest">
        <form action="" method="post">
            {{ form_widget(form) }}
        </form>
    </div>

    <h4>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('/user/panel') }}" title="Users index" class="label label-primary text-uppercase">Back to panel</a>
        {% else %}
            <a href="{{ url('/user/account') }}" title="Users account" class="label label-primary text-uppercase">Back to account</a>
        {% endif %}
    </h4>
{% endblock %}