{% extends 'base.twig' %}

{% block title %}View User{% endblock %}

{% block content %}
    <h1 class="text-center">
        {{ 'Users account' |trans }}
    </h1>
    
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'Id' |trans }}</th>
                <th>{{ 'Logins' |trans }}</th>
                <th>{{ 'Role' |trans }}</th>
                <th>{{ 'Phone number' |trans }}</th>
                <th colspan="3">&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ user.id|e }}</td>
                <td>{{ user.login|e }}</td>
                <td>{{ user.role|e }}</td>
                <td>{{ number }}</td>
                {% if user.id == logged %}
                    <td>
                        <a href="{{ url('/user/edit', {'id': user.id}) }}" title="Edit password" class="btn btn-default btn-lg">{{ 'Edit password' |trans }}</a>
                    </td>
                    <td>
                        {% if number == null %}
                            <a href="{{ url('/user/number') }}" title="Edit phone number" class="btn btn-default btn-lg">{{ 'Add phone number' |trans }}</a>
                        {% else %}
                            <a href="{{ url('/user/number') }}" title="Edit phone number" class="btn btn-default btn-lg">{{ 'Edit phone number' |trans }}</a>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    <a href="{{ url('/user/delete', {'id': user.id}) }}" title="Delete user" class="btn btn-default btn-lg">{{ 'Delete' |trans }} </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <h4>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('/user/panel') }}" title="Users index" class="label label-primary text-uppercase">{{ 'Back to panel' |trans }}</a>
        {% endif %}
        <a href="{{ url('/user/account') }}" title="Users account" class="label label-primary text-uppercase">{{ 'Back to account' |trans }}</a>
    </h4>
{% endblock %}